@import './mixins';
@import "./variables";

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;

  align-items: center;
  padding: 60px 80px;

  & a {
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
  }

  @include onMobile {
    padding: 30px;
  }
}

.logout {
    width: 400px;
    height: 85px;
    box-shadow: 1.672px 1.672px 6.688px rgba(0, 0, 0, 0.1);
    border-radius: 13.376px;
    border: none;
    font-family: 'Montserrat';
    font-size: 33.44px;
    line-height: 43px;
    background: $white1;

    @include onMobile {
      font-size: 12.44px;
      line-height: 130%;
      border-radius: 4.976px;

      width: 200px;
      height: 40px;
    }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  &__item {
    height: 60px;
    width: 100%;

    display: grid;
    grid-template-columns: 10fr 1fr;
    gap: 40px;
    align-items: center;

    @include onMobile {
      gap: 20px;
    }

    &__content {
      box-shadow: 1.672px 1.672px 6.688px rgba(0, 0, 0, 0.1);
      border-radius: 13.376px;
      height: 100%;

      padding: 10px;
      background: $white1;
      min-width: 100%;
      font-family: 'Montserrat';
      font-size: 20px;
      font-weight: 700;

      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

    }
    
    &__button {
        box-shadow: 1.672px 1.672px 6.688px rgba(0, 0, 0, 0.1);
        border-radius: 13.376px;
        border: none;
        font-family: 'Montserrat';
        font-size: 20px;
        background: $white1;
        padding: 10px;
        height: 60px;
        
    
        @include onMobile {
          font-size: 12.44px;
          border-radius: 4.976px;
    
          height: 40px;
        }

        &_item {
          width: 50%;
        }
    }
    
  }
}

.category {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 40px;

  justify-content: center;

  &__item {
    position: relative;
      width: 270px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      margin: 0 auto;
      background: $white2;
      box-shadow: 1.672px 1.672px 6.688px rgba(0, 0, 0, 0.1);
      padding: 5px;
      border-radius: 8px;
      height: 200px;
      overflow: hidden;
  
      &__title {
        font-size: 12px;
        font-weight: bold;
      }
  
      &__text {
        font-size: 10px;
        width: 100%;
      }
  
      & img {
        width: 260px;
        height: 68.68px;
        border-radius: 8px;
      }
  
      &__button {
        width: 30px;
        height: 30px;
        border: none;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 230px;
        top: 20px;
        z-index: 10;
      }
  
      &__click {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        height: 100%;
        width: 100%;
      }
  }
}


