@import "./mixins";
@import "./variables";

.orderForm {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onMobile {
      display: block;
    }

    &_lable {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 25px;

      @include onMobile {
        margin-top: 15px;
      }
    }

    &_span {
      color: #202020;
      font-size: 20px;
      font-family: "Trebuchet MS", sans-serif;
      border-style: hidden;
      margin-bottom: 5px;

      @include onMobile {
        font-size: 16px;
      }
    }

    &_input {
      background-color: #ffffff;
      padding: 16px;
      width: 517px;
      border-radius: 8px;
      border: 1px solid #caced8;
      font-family: "Trebuchet MS", sans-serif;
      transition: all 0.3s ease;
      cursor: pointer;
      font-size: 18px;

      @include onMobile {
        padding: 12px;
        font-size: 16px;
        width: 100%;
      }

      &:focus,
      &:hover {
        border-color: #202020;
        box-shadow: -3px -1px 4px rgba(0, 0, 0, 0.2);
        outline: none;
      }

      &::placeholder {
        color: #caced8;
        font-family: "Trebuchet MS", sans-serif;
        font-size: 18px;

        @include onMobile {
          font-size: 16px;
        }
      }
    }

    &_input__danger {
      background-color: #ffffff;
      padding: 16px;
      width: 517px;
      border-radius: 8px;
      border: 1px solid red;
      font-family: "Trebuchet MS", sans-serif;
      transition: all 0.3s ease;
      cursor: pointer;

      @include onMobile {
        padding: 12px;
        width: 100%;
      }

      &::placeholder {
        color: #caced8;
        font-family: "Trebuchet MS", sans-serif;
        font-size: 14px;

        // @include onMobile {
        //   font-size: 16px;
        // }
      }
    }

    &_selectWrapper {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;
        transform: translateY(-50%);
      }
    }

    &_select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      background-color: #ffffff;
      padding: 16px;
      width: 517px;
      border-radius: 8px;
      border: 1px solid #caced8;
      font-family: "Trebuchet MS", sans-serif;
      transition: all 0.3s ease;
      cursor: pointer;

      @include onMobile {
        padding: 12px;
        width: 100%;
      }

      &:focus,
      &:hover {
        border-color: #202020;
        box-shadow: -3px -1px 4px rgba(0, 0, 0, 0.2);
        outline: none;
      }
    }

    &_button {
      background-color: #202020;
      border: 1px solid #202020;
      border-radius: 8px;
      padding: 10px 15px;
      margin-top: 40px;
      text-decoration: none;
      color: #f5f5f5;
      font-size: 20px;
      font-family: "Trebuchet MS", sans-serif;
      line-height: 20px;

      transition: all 0.3s ease;
      cursor: pointer;

      @include onMobile {
        font-size: 16px;
        margin-top: 25px;
      }

      &:focus,
      &:hover {
        color: #202020;
        border: 1px solid #202020;
        background-color: transparent;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    & a {
      background-color: #202020;
      border: none;
      border-radius: 8px;
      padding: 10px 15px;
      margin-top: 40px;
      text-decoration: none;
      color: #f5f5f5;
      font-size: 20px;
      font-family: "Trebuchet MS", sans-serif;
      line-height: 20px;

      transition: all 0.3s ease;
      cursor: pointer;

      @include onMobile {
        font-size: 16px;
        margin-top: 25px;
      }

      &:focus,
      &:hover {
        color: #202020;
        border: 1px solid #202020;
        background-color: transparent;
      }
    }

    &_file {
      margin-top: 30px;

      &_text {
        color: #202020;
        font-size: 20px;
        font-family: "Trebuchet MS", sans-serif;
        line-height: 20px;

        margin-bottom: 30px;
      }
    }

    &_required {
      position: absolute;
      color: red;
      top: -3px;
      font-size: 25px;
    }

    &_button_fill {
      background-color: transparent;
      border: 1px solid #202020;
      border-radius: 8px;
      padding: 10px 15px;
      margin-top: 40px;
      text-decoration: none;
      color: #202020;
      font-size: 20px;
      font-family: "Trebuchet MS", sans-serif;
      line-height: 20px;

      transition: all 0.3s ease;
      cursor: pointer;

      @include onMobile {
        font-size: 16px;
        margin-top: 25px;
      }

      &:focus,
      &:hover {
        color: #f5f5f5;
        border: 1px solid #202020;
        background-color: #202020;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}

.checkbox_wrapper_29 {
  --size: 1rem;
  --background: #f5f5f5;
  font-size: var(--size);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.checkbox_wrapper_29 *,
.checkbox_wrapper_29 *::after,
.checkbox_wrapper_29 *::before {
  box-sizing: border-box;
}

.checkbox_wrapper_29 .checkbox__input[type="checkbox"] {
  visibility: hidden;
  display: none;
  position: relative;
}

.checkbox_wrapper_29 .checkbox__label {
  width: var(--size);
  position: relative;
  margin-right: 20px;
}

.checkbox_wrapper_29 .checkbox__label:before {
  content: " ";
  display: block;
  height: var(--size);
  width: var(--size);
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
  background: var(--background);
}

.checkbox_wrapper_29 .checkbox__label:after {
  content: " ";
  display: block;
  height: var(--size);
  width: var(--size);
  border: calc(var(--size) * 0.14) solid #000;
  transition: 200ms;
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
  background: var(--background);
}

.checkbox_wrapper_29 .checkbox__label:after {
  transition: 100ms ease-in-out;
}

.checkbox_wrapper_29 .checkbox__input:checked ~ .checkbox__label:after {
  border-top-style: none;
  border-right-style: none;
  -ms-transform: rotate(-45deg); /* IE9 */
  transform: rotate(-45deg);
  height: calc(var(--size) * 0.5);
  border-color: green;
}

.checkbox_wrapper_29 .checkbox {
  position: relative;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.checkbox_wrapper_29 .checkbox__label:after:hover,
.checkbox_wrapper_29 .checkbox__label:after:active {
  border-color: green;
}

.label {
  color: #202020;
  font-size: 20px;
  font-family: "Trebuchet MS", sans-serif;
  border-style: hidden;
  margin-bottom: 5px;
  cursor: pointer;
  @include onMobile {
    font-size: 16px;
  }

  text-decoration: underline;
}
