@import './mixins';

.newsPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 70px;
  
    @include onMobile {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }