@import "./variables";
@import "./mixins";

.profile {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    font-weight: 800;
    line-height: 110%;
    gap: 10px;
    padding: 23px;

    @include onMobile {
      flex-direction: column;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #caced8;
  }

  &__item {
    font-weight: 700;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    text-align: center;

    &_link {
      font-size: 14px;
      padding-left: 20px;
      padding-bottom: 10px;
      line-height: 100%;
    }
  }

  &__button {
    font-size: 12px;
    cursor: pointer;
  }

  &__payButton {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #202020;
    border-radius: 8px;
    height: 43px;
    padding: 10px 15px;
    text-decoration: none;
    color: #202020;
    // font-size: 19px;
    // font-family: "Trebuchet MS", sans-serif;
    // line-height: 20px;

    transition: all 0.3s ease;
    cursor: pointer;

    @include onLaptop {
      font-size: 12px;
      font-weight: 500;
      padding: 7px;
      line-height: normal;
    }

    &:focus,
    &:hover {
      color: #f5f5f5;
      border: 1px solid #202020;
      background-color: #202020;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.round {
  width: 20px;
  height: 20px;
  background: gray;
  border-radius: 50%;
}

.block {
  width: 25px;
  height: 6px;
  background: gray;
}

.green {
  background: #77bb33;
}